Repository Python-Atelier/python-core, changes with the labels that .github/labeler.yml gives for each.
All labels: solutions, documentation, workflows, config, questions, python, templates

.github/labeler.yml:

# Labeler configuration for auto-labeling PRs based on file paths
# This file is used by actions/labeler@v5

# Label PRs that modify solutions
solutions:
  - "**/solutions/*.py"
  - "**/solutions/*.md"

# Label PRs that modify documentation
documentation:
  - "*.md"
  - "docs/**/*"
  - "README.md"
  - "CONTRIBUTING.md"
  - "SOLUTION_GUIDELINES.md"

# Label PRs that modify workflows
workflows:
  - ".github/workflows/*.yml"
  - ".github/labels.yml"
  - ".github/labeler.yml"

# Label PRs that modify configuration
config:
  - ".github/*.yml"
  - ".github/*.yaml"
  - "requirements.txt"
  - "setup.py"
  - "pyproject.toml"

# Label PRs that modify questions
questions:
  - "**/questions.md"
  - "**/*_questions.md"

# Label PRs that modify core Python files
python:
  - "**/*.py"
  - "**/*.pyi"

# Label PRs that modify templates
templates:
  - "**/template*.py"
  - "**/template*.md"

Transform projects with innovative, cutting-edge ideas replacing generic projects
  projects/01_ai_poetry_generator.md
  projects/02_quantum_simulator.md
  projects/03_neural_art_style_transfer.md
  projects/04_evolutionary_game_ai.md
  projects/05_autonomous_drone_simulator.md
  projects/06_biometric_emotion_analyzer.md
  projects/07_blockchain_smart_contract_platform.md
  projects/08_metaverse_creation_platform.md
  projects/09_ai_personal_assistant.md
  projects/10_quantum_machine_learning_platform.md
Labels: none

Add advanced and modern Python practice questions
  01_variables_and_data_types/questions.md
  02_control_flow/questions.md
  03_functions/questions.md
  04_data_structures/questions.md
  05_string_manipulation/questions.md
  06_file_handling/questions.md
  07_error_handling/questions.md
  08_object_oriented_programming/questions.md
  09_modules_and_packages/questions.md
  10_list_comprehensions/questions.md
  11_decorators/questions.md
  12_generators/questions.md
  13_type_hints_and_annotations/questions.md
  14_async_await_programming/questions.md
  15_dataclasses_and_modern_oop/questions.md
  16_pathlib_file_operations/questions.md
  17_modern_string_formatting/questions.md
Labels: questions

removed out of topic questions
  01_variables_and_data_types/questions.md
  02_control_flow/questions.md
  03_functions/questions.md
  04_data_structures/questions.md
  05_string_manipulation/questions.md
  06_file_handling/questions.md
  07_error_handling/questions.md
  08_object_oriented_programming/questions.md
  09_modules_and_packages/questions.md
  10_list_comprehensions/questions.md
  11_decorators/questions.md
  12_generators/questions.md
Labels: questions

Remove example code from questions and update thanks
  01_variables_and_data_types/questions.md
  CONTRIBUTING.md
Labels: documentation, questions

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

Answer submission
  01_variables_and_data_types/questions.md
  01_variables_and_data_types/solution/question_1.py
  01_variables_and_data_types/solution/question_10.py
  01_variables_and_data_types/solution/question_2.py
  01_variables_and_data_types/solution/question_3.py
  01_variables_and_data_types/solution/question_4.py
  01_variables_and_data_types/solution/question_5.py
  01_variables_and_data_types/solution/question_6.py
  01_variables_and_data_types/solution/question_7.py
  01_variables_and_data_types/solution/question_8.py
  01_variables_and_data_types/solution/question_9.py
Labels: questions, python
